<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sofudev.trackapptrl">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />-->
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="q">
        <activity android:name=".Form.FormLensaPartaiActivity"></activity>
        <activity android:name=".FrameProductActivity" />
        <activity android:name=".Form.DetailDeliveryTrackingActivity" />
        <activity android:name=".Form.FormDeliveryTrackingActivity" /> <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.sofudev.trackapptrl.fileprovider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true" -->
        <!-- tools:replace="android:authorities"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/filepaths" -->
        <!-- tools:replace="android:resource" /> -->
        <!-- </provider> -->
        <!-- <activity -->
        <!-- android:usesCleartextTraffic = "true" -->
        <!-- android:name=".IntroActivity" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait" /> <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FanpageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Form.FormUACActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Form.FormProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Form.FormTrackOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Form.FormFilterOpticnameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info.InfoOrderHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Form.FormOrderLensActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Form.FormOrderDashboardActivity" />
        <activity android:name=".Form.FormPDFViewerActivity" />
        <activity android:name=".Form.FormLensSummaryActivity" />
        <activity android:name=".Form.FormOrderHistoryActivity" />
        <activity android:name=".Form.FormOrderDetailActivity" />
        <activity android:name=".Form.FormPaymentVA" />
        <activity android:name=".Form.FormPaymentQR" />
        <activity android:name=".Form.FormPaymentCC" />
        <activity android:name=".Form.FormPaymentKreditpro" />
        <activity android:name=".Form.AddCartProductActivity" />
        <activity android:name=".Form.WishlistProductActivity" />
        <activity android:name=".Form.FormOrderHistoryFrameActivity" />
        <activity android:name=".Form.FormOrderDetailFrameActivity" />
        <activity android:name=".Form.FormPaymentLoanActivity" />
        <activity android:name=".Form.FormPaymentLoanSaldo" />
        <activity android:name=".Form.FormPaymentLoanOtp" />
        <activity android:name=".Form.FormPaymentLoanSuccess" />
        <activity android:name=".Form.EwarrantyActivity" />
        <activity android:name=".Form.CheckBalanceActivity" />
        <activity android:name=".Form.DetailBalanceActivity" />
        <activity android:name=".Form.FormBatchOrderActivity" />
        <activity android:name=".Form.FormOrderHistoryPartaiActivity" />
        <activity android:name=".Form.FormOrderDetailPartaiActivity" /> <!-- <service android:name=".service.MyFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service android:name=".service.GenerateIdFire"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity android:name=".Form.SearchProductActivity" />
        <activity android:name=".DetailProductActivity" />
        <activity android:name=".ReportSalesActivity" />
        <activity android:name=".Form.FormOrderSpActivity" />
        <activity
            android:name=".Form.FormSpFrameActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Form.FormTrackingSpActivity" />
        <activity android:name=".LoggerActivity" />
        <activity android:name=".OnHandActivity" />
        <activity android:name=".Form.DetailDepositActivity" />
        <activity android:name=".Form.FilterDepositActivity" />
        <activity android:name=".Form.FormPaymentDeposit" />
        <activity android:name=".TestCamActivity" />
        <activity android:name=".Form.EstatementActivity" />

        <provider
            android:name="com.nj.imagepicker.provider.ImageProvider"
            android:authorities="${applicationId}.com.nj.imagepicker.fileprovider"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".Custom.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>